@model IEnumerable<TBA.Models.Entities.List>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Board)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @(item.Board != null ? Html.DisplayFor(modelItem => item.Board.Name) : "")
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ListId" class="btn btn-primary btn-sm">Edit</a>
                <a asp-action="Details" asp-route-id="@item.ListId" class="btn btn-info btn-sm">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
