@model IEnumerable<TBA.Models.Entities.BoardMember>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Board)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Board.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-boardId="@item.BoardId" asp-route-userId="@item.UserId" class="btn btn-primary btn-sm">Edit</a>
                    <a asp-action="Details" asp-route-boardId="@item.BoardId" asp-route-userId="@item.UserId" class="btn btn-info btn-sm">Details</a>
                    <a asp-action="Delete" asp-route-boardId="@item.BoardId" asp-route-userId="@item.UserId" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
