@model IEnumerable<TBA.Models.Entities.Notification>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Message</th>
            <th>Notify At</th>
            <th>Is Read</th>
            <th>Card</th>
            <th>User</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var notification in Model)
        {
            <tr>
                <td>@notification.Message</td>
                <td>@notification.NotifyAt</td>
                <td>@notification.IsRead</td>
                <td>@notification.Card?.Title</td>
                <td>@notification.User?.Email</td>
                <td>
                    <a asp-action="Details" asp-route-id="@notification.NotificationId" class="btn btn-info btn-sm">Details</a>
                    <a asp-action="Edit" asp-route-id="@notification.NotificationId" class="btn btn-primary btn-sm">Edit</a>
                    <a asp-action="Delete" asp-route-id="@notification.NotificationId" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
